
.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 10px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
}

span {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.Form {
  font-weight:bold;
}